Hi {{ user.username }},

Please click on the link below to confirm your registration:

http://{{ domain }}{% url 'activate' uidb64=uid token=token %}

Your QR Code has been generated and is available in your TransitSync account wallet. Please keep in mind that your QR Code contains sensitive information, and it should not be shared with anyone.

{% if user.QR %}
    QR Code: <img src="{{ user.QR.url }}" alt="QR Code">
{% else %}
    QR Code: <img src="{% get_media_prefix %}mages/qrs/default_qr.png" alt="Default QR Code">
{% endif %}
Serial Number: {{ user.userSN }}
